<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lagou.dao.ResourceMapper">

    <!-- 1.资源信息分页&多条件查询 -->
    <select id="findAllResourceByPage" parameterType="com.lagou.domain.ResourceVO" resultType="com.lagou.domain.Resource">
        select * from resource
          <where>
              <if test="name != null and name != ''">
                  and name like concat('%',#{name},'%')
              </if>
              <if test="categoryId != null and categoryId != ''">
                  and category_id = #{categoryId}
              </if>
              <if test="url != null and url != ''">
                  and url = #{url}
              </if>
          </where>
    </select>

    <!-- 2.新增资源 -->
    <insert id="saveResource" parameterType="com.lagou.domain.Resource">
        insert into resource values(null,#{name},#{url},#{categoryId},#{description},
          #{createdTime},#{updatedTime},#{createdBy},#{updatedBy})
    </insert>

    <!-- 3.根据id回显资源信息 -->
    <select id="findResourceById" parameterType="int" resultType="com.lagou.domain.Resource">
        select * from resource where id = #{id}
    </select>

    <!-- 4.更新资源 -->
    <update id="updateResource" parameterType="com.lagou.domain.Resource">
        update resource
          <trim prefix="SET" suffixOverrides=",">
              <if test="name != null and name != ''">
                  name = #{name},
              </if>
              <if test="url != null and url != ''">
                  url = #{url},
              </if>
              <if test="categoryId != null and categoryId != ''">
                  category_id = #{categoryId},
              </if>
              <if test="description != null and description != ''">
                  description = #{description},
              </if>
          </trim>
          <where>
              <if test="id != null and id != ''">
                  id = #{id}
              </if>
          </where>
    </update>

    <!-- 5.删除资源 -->
    <delete id="deleteResource" parameterType="int">
        delete from resource where id = #{id}
    </delete>

</mapper>